<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <sectionGroup name="spring">
    <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
    <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
  </sectionGroup>

  <spring>
    <context>
      <resource uri="config://spring/objects" />
      <resource uri="file://services.xml"/>
    </context>

    <objects xmlns="http://www.springframework.net">
      <!--这里的type表示的是name类型所在的命名空间和程序集
      在代码中是通过引用name来实现注入的-->
      <!--<description>哈哈哈哈</description>-->
      <object name ="UserInfoService" type ="hzcl.OA.SpringNet.UserInfoService, hzcl.OA.SpringNet"></object>
      <!--<object name="stu" type="LINQDemo.student,LINQDemo">
        <property name="name" value="fsdf"></property>
        <property name="id" value="1"></property>
      </object>-->
    </objects>
  </spring>

</configuration>